<html>
    <head>
        <link rel="stylesheet" href="../assets/style/styles.css" type="text/css">
        <title>Home page</title>
    </head>
    <body>
        <h1>Welcome to user's log in page</h1>
    </body>
</html>